a:link { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #006699; 
	text-decoration: none
	} 
a:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #006699; 
	text-decoration: none
	} 
a:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #006699; 
	text-decoration: underline
	} 
body { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #333333; 
	background-color: #FFFFFF; 
	margin-top: 10px; 
	margin-right: 10px; 
	margin-bottom: 10px; 
	margin-left: 10px
	}
A.menu:link {
	color: #EEEEEE; 
	text-decoration: none; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px
	} 
A.menu:visited {
	color: #EEEEEE; 
	text-decoration: none; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px
	}
A.menu:hover {
	color: #FFFFFF; 
	text-decoration: none; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px
	} 
.menu { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #EEEEEE
	}
th,td,p { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #333333
	} 
.text {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	color: black
	} 
.account_menu {
	background-color: #f9f9f9; 
	width: 145px
	}